input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.btn-rounded {
    border-radius: 25px;
}

.bg-BaskaKoy {
    background-color: #ed5e17 !important;
}
.table-drop-btn {
    position: relative !important;
    width: fit-content !important;
}

    .table-drop-btn > .menu-sub-dropdown {
        position: absolute !important;
        right: 0 !important;
    }
