@model Register
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<form asp-action="_Register" asp-controller="Auth" class="d-flex flex-column justify-content-center">

    <label asp-for="Name"></label>

    <input class="form-control" asp-for="Name">
    <span class="validation" asp-validation-for="Name"></span>



    <label asp-for="Surname"></label>

    <input class="form-control" asp-for="Surname">
    <span class="validation" asp-validation-for="Surname"></span>


    <label asp-for="Username"></label>

    <input class="form-control" asp-for="Username">
    <span class="validation" asp-validation-for="Username"></span>




    <label asp-for="Mail"></label>
    <input class="form-control" asp-for="Mail">
    <span class="validation" asp-validation-for="Mail"></span>


    <label asp-for="Password"></label>
    <input class="form-control" asp-for="Password">
    <span asp-validation-for="Password" class="validation"></span>

   


    <input type="submit" value="Giriş Yap" />







    <!-- Button trigger modal -->
   



</form>




